@import "../../styles/variables";

.atlas-payment-invoices {
  .dateRangePickerdropdownActive {
    border: 0.167rem solid #526fd6 !important;
    border-radius: 0.222rem 0.222rem 0 0;
  }

  .dropdownContainer {
    align-items: center;
    background: #fff !important;
    border: 0.056rem solid #ced4da;
    border-radius: 0.222rem;
    cursor: pointer;
    display: flex;
    font-size: 0.778rem;
    height: 2.778rem;
    justify-content: center;
    justify-content: space-between;
    position: relative;
    width: 15.1111rem;
    z-index: 998;

    .title {
      color: #3e3e3e;
      font-size: 0.889rem;
      left: 0;
      position: absolute;
      top: -1.333rem;
    }

    .dropdown {
      display: flex;
      flex-direction: row;
      align-items: center;
      padding: 0px 0.78rem 0px 0rem;
      color: grey;
      justify-content: space-between;
      width: 15.1111rem;

      .text {
        color: #767676 !important;
        display: inline-block;
        font-size: 1rem;
        overflow: hidden;
        padding-left: 0.5rem;
        padding-right: 3rem;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: fit-content;
      }
      
      .icon {
        position: absolute;
        right: 0px;
        top: 2px;
        svg{
          width: 2.2222rem;
          height: 2.2222rem;
          path{
            fill: #7e7e7e;
          }
        }
      }
    }

    .openDropdownDatepickerWithRangeContainer {
      display: flex;
      position: absolute;
      top: 3.375rem;
      width: 272px;

      .openDropdownDatepickerWithRange {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 24px 24px 0px;
        background: #ffffff;
        box-shadow: 0px 12px 24px rgba(112, 128, 144, 0.1);
        border-radius: 0px 0px 4px 4px;
        z-index: 10;
        width: 100%;

        .a-dpicker .react-datepicker__month-container {
          width: 16.667rem;
          z-index: 999;
          position: absolute;
          left: 16.5rem;
          background-color: white;
          top: -4.25rem;
        }

        .react-datepicker__input-container {
          input {
            width: 13rem;
            padding: 0.8rem;
            margin-top: 0.3rem;
            height: 0.778rem;
          }
        }

        .a-dpicker.a-range-picker {
          flex-direction: column;
          gap: 10px;
        }

        .a-dpicker.a-range-picker .a-dpicker__container:last-child {
          margin-left: 0px;
        }

        .a-dpicker__container {
          margin-top: 20px;
        }

        .openDropdownOption {
          background-color: $white;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 0px 12px;
          margin-top: 12px;
          border-radius: 2px;

          .text {
            color: #3e3e3e;
            padding: 12px 0px;
            font-size: 0.889rem;
          }
        }
      }
    }
  }
}