@import "../../styles/variables";

.dropdownContainer {
  // min-width: 180px;
  // cursor: pointer;
  // position: relative;

  align-items: center;
  background: #fff !important;
  border: 0.056rem solid #767676 !important;
  border-radius: 0.222rem;
  cursor: pointer;
  display: flex;
  font-size: 0.778rem;
  height: 2.778rem;
  justify-content: center;
  justify-content: space-between;
  position: relative;
  width: 272px;
  z-index: 998;

  .title {
    // color: #3e3e3e !important;
    // position: absolute;
    // top: -20px;
    // font-size: 13px;
    // font-weight: 400;
    // font-style: normal;
    color: #3e3e3e !important;
    font-size: 0.889rem;
    left: 0;
    position: absolute;
    top: -1.333rem;
  }

  .dropdown {
    display: flex;
    flex-direction: row;
    align-items: center;
    // width: 320px;
    // background: #ffffff;
    // border: 1px solid #b4b3bb !important ;
    // border-radius: 4px;
    // height: 50px;
    // margin: 6px 0px;
    padding: 0px 5px 0px 20px;
    color: grey;
    justify-content: space-between;
    width: 272px;

    .text {
      // color: $secondary-gray;
      // margin: 12px 0px;
      // padding-right: 20px;
      color: #3e3e3e !important;
      display: inline-block;
      font-size: 1rem;
      overflow: hidden;
      padding-left: 0.5rem;
      padding-right: 3rem;
      text-overflow: ellipsis;
      white-space: nowrap;
      width: fit-content;
    }
    .icon {
      position: absolute;
      right: 0px;
      top: 2px;
    }
  }

  .openDropdownDatepickerWithRangeContainer {
    display: flex;
    // height: 8.889rem;
    // overflow-y: auto;
    position: absolute;
    top: 3.375rem;
    width: 272px;

    .openDropdownDatepickerWithRange {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 24px 24px 0px;

      // height: 511px;
      background: #ffffff;
      box-shadow: 0px 12px 24px rgba(112, 128, 144, 0.1);
      border-radius: 0px 0px 4px 4px;
      // position: absolute;
      z-index: 10;
      width: 100%;

      .a-dpicker .react-datepicker__month-container {
        width: 16.667rem;
        z-index: 999;
        position: absolute;
        left: 16.5rem;
        background-color: white;
        top: -4.25rem;
      }

      .react-datepicker__input-container {
        input {
          width: 13rem;
          padding: 0.8rem;
          margin-top: 0.3rem;
        }
      }

      .a-dpicker.a-range-picker {
        flex-direction: column;
        gap: 10px;
      }
      .a-dpicker.a-range-picker .a-dpicker__container:last-child {
        margin-left: 0px;
      }
      .a-dpicker__container {
        margin-top: 20px;
      }

      // .react-datepicker__month-container {
      //   position: absolute;
      //   left: 18rem;
      //   top: -68px;
      //   display: flex;
      //   flex-direction: column;
      //   justify-content: center;
      //   align-items: center;
      //   padding: 15px;
      //   width: 296px;
      //   height: 356px;
      //   background: #ffffff;
      //   border-radius: 4px 0px;
      // }
      // .react-datepicker__header__dropdown {
      //   display: flex;
      //   justify-content: space-between;
      //   padding: 0 0.667rem;
      // }
      // .react-datepicker__day-names {
      //   display: flex;
      //   flex-direction: row;
      //   justify-content: space-evenly;
      // }
      // .react-datepicker__day {
      //   width: 43px;
      //   height: 43px;
      //   justify-content: center;
      //   align-items: center;
      //   display: flex;
      // }
      // .react-datepicker__day-name {
      //   color: #3e3e3e !important;
      //   font-size: 0.889rem;
      //   font-weight: 600;
      //   padding: 0 16px;
      //   height: 32px;
      // }

      // //sdjklasj

      // .a-dpicker .react-datepicker__label {
      //   color: #3e3e3e !important;
      //   font-size: 0.889rem;
      //   left: 0;
      //   position: absolute;
      //   top: -1.125rem;
      // }
      // .a-dpicker .react-datepicker__input-container input {
      //   color: #b4b3bb !important;
      //   font-size: 1rem;
      //   height: 2.778rem;
      //   width: 15rem;
      // }
      .openDropdownOption {
        background-color: $white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0px 12px;
        margin-top: 12px;
        border-radius: 2px;

        .text {
          color: #3e3e3e;
          padding: 12px 0px;
          font-size: 0.889rem;
        }
      }
    }
  }
}

// @media (max-width: 1700px) {
//   .dropdownContainer .openDropdownDatepicker {
//     width: 124px;
//   }
//   .dropdownContainer .openDropdownDatepicker .react-datepicker__day-name {
//     padding: 0 12px;
//   }
//   .dropdownContainer .openDropdownDatepicker .react-datepicker__day {
//     width: 29px;
//     height: 23px;
//   }
//   .dropdownContainer
//     .openDropdownDatepicker
//     .react-datepicker__month-container {
//     left: 148px;
//     top: -23px;
//     box-shadow: 0px 0px 23px -10px gray;
//     width: fit-content;
//     height: auto;
//   }
//   .dropdownContainer .a-dpicker .react-datepicker__label {
//     font-size: 15px;
//     top: -22px;
//   }
//   .dropdownContainer .openDropdownOption .text {
//     font-size: 11px;
//   }
//   .dropdownContainer .a-dpicker .react-datepicker__input-container input {
//     font-size: 10px;
//     height: 4.778rem;
//   }
// }
