.dropdownContainer {
  min-width: 180px;
  cursor: pointer;
  position: relative;
}

.dropdownContainer .title {
  color: #3e3e3e !important;
  position: absolute;
  top: -20px;
  font-size: 13px;
  font-weight: 400;
  font-style: normal;
}

.dropdownContainer .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  background: #ffffff;
  border: 1px solid #b4b3bb !important;
  border-radius: 4px;
  height: 50px;
  margin: 6px 0px;
  padding: 0px 5px 0px 20px;
  color: grey;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdownContainer .dropdown .text {
  color: #767676 !important;
  margin: 12px 0px;
  padding-right: 20px;
}

.dropdownContainer .openDropdownDatepicker {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 24px 24px 0px;
  width: 300px;
  height: 511px;
  background: #ffffff;
  -webkit-box-shadow: 0px 12px 24px rgba(112, 128, 144, 0.1);
          box-shadow: 0px 12px 24px rgba(112, 128, 144, 0.1);
  border-radius: 0px 0px 4px 4px;
  position: absolute;
  z-index: 10;
}

.dropdownContainer .openDropdownDatepicker .a-dpicker.a-range-picker {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.dropdownContainer .openDropdownDatepicker .a-dpicker.a-range-picker .a-dpicker__container:last-child {
  margin-left: 0px;
}

.dropdownContainer .openDropdownDatepicker .a-dpicker__container {
  margin-top: 20px;
}

.dropdownContainer .openDropdownDatepicker .react-datepicker__month-container {
  position: absolute;
  left: 18rem;
  top: -68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  width: 296px;
  height: 356px;
  background: #ffffff;
  border-radius: 4px 0px;
}

.dropdownContainer .openDropdownDatepicker .react-datepicker__header__dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 0.667rem;
}

.dropdownContainer .openDropdownDatepicker .react-datepicker__day-names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.dropdownContainer .openDropdownDatepicker .react-datepicker__day {
  width: 43px;
  height: 43px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.dropdownContainer .openDropdownDatepicker .react-datepicker__day-name {
  color: #3e3e3e !important;
  font-size: 0.889rem;
  font-weight: 600;
  padding: 0 16px;
  height: 32px;
}

.dropdownContainer .a-dpicker .react-datepicker__label {
  color: #3e3e3e !important;
  font-size: 0.889rem;
  left: 0;
  position: absolute;
  top: -1.125rem;
}

.dropdownContainer .a-dpicker .react-datepicker__input-container input {
  color: #b4b3bb !important;
  font-size: 1rem;
  height: 2.778rem;
  width: 15rem;
}

.dropdownContainer .openDropdownOption {
  background-color: #ffffff !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 12px;
  margin-top: 12px;
  border-radius: 2px;
}

.dropdownContainer .openDropdownOption .text {
  color: #3e3e3e;
  padding: 12px 0px;
  font-size: 0.889rem;
}
/*# sourceMappingURL=DatepickerDropdown.css.map */