@import "../../styles/variables";

.dropdownContainer {
  min-width: 180px;
  cursor: pointer;
  position: relative;
  .title {
    color: #3e3e3e !important;
    position: absolute;
    top: -20px;
    font-size: 13px;
    font-weight: 400;
    font-style: normal;
  }

  .dropdown {
    margin-bottom: 0px;
    display: flex;
    font-size: 18px;
    justify-content: space-between;
    align-items: center;
    border-style: solid;
    border-width: 1px;
    border-color: $secondary-gray;
    border-radius: 4px;
    padding: 0px 12px;
    background-color: $white;

    .text {
      color: $secondary-gray;
      
      margin: 12px 0px;
      padding-right: 20px;
    }
  }

  .openDropdown {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px 24px;
    width: 300px;
    background: #ffffff;
    box-shadow: 0px 12px 24px rgba(112, 128, 144, 0.1);
    border-radius: 0px 0px 4px 4px;
    position: absolute;
    z-index: 10;
  }

  .openDropdownOption {
    background-color: $white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 12px;
    border-radius: 2px;

    .text {
      color: #3e3e3e;
      padding: 12px 0px;
      font-size: 0.889rem;
    }
  }
}
