.input-component{
    .form-label{
        color: #3e3e3e!important;
        font-size: .889rem !important;
        left: 0 !important;
        // position: absolute !important;
        top: -1.333rem !important;
    }
    input{
        padding-left: 1rem;
        background: #fff!important;
        border: 0.056rem solid #ced4da;
        border-radius: 0.222rem;
        cursor: text;
        display: flex;
        font-size: 1rem;
        height: 2.778rem;
        position: relative;
        width: -webkit-fill-available;
    }
    .disable-input{
        background: #F5F5F6 !important;
    }
    .disable-label{
        color: #B4B3BB !important;
    }
}