registry=https://pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/
always-auth=true
; begin auth token
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:_password=bXkzang0N2dzZmtxcmh3aXJsbGxyZ3Vzc25lc21veXh6c3pjZGR0dHd5ZHkzeGYyeWxpYQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:email=videshk@elementsgs.com
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:_password=bXkzang0N2dzZmtxcmh3aXJsbGxyZ3Vzc25lc21veXh6c3pjZGR0dHd5ZHkzeGYyeWxpYQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:email=videshk@elementsgs.com
; end auth token

