registry=https://pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/

always-auth=true
; begin auth token
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:_password=d2FraXVtcTc1NnlnNGM1YnFwaGEyazJla2NvYjVnNDNoaGd2YXQ3dno3cG9kaXppeXF4YQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:email=manojp.contractor@elementsgs.com
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:_password=d2FraXVtcTc1NnlnNGM1YnFwaGEyazJla2NvYjVnNDNoaGd2YXQ3dno3cG9kaXppeXF4YQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:email=manojp.contractor@elementsgs.com
; end auth token