@import "../../../styles/variables";
@import "../../../styles/styles";

.container {
  padding-bottom: 20px;
}

// .pay {
//   //   font-weight: normal;
//   //   font-family: CircularXX;
//   //   border-style: solid;
// }

.dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  //   border-style: solid;
  padding: 20px 0px;
  gap: 20px;

  .inputContainer {
    display: flex;
    align-items: center;
    background-color: $white;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    border-color: $secondary-gray;
    // height: 46px;
    padding: 11px 12px;

    textarea:focus,
    input:focus {
      outline: none;
    }
    .input {
      border-style: hidden;
      width: 180px;
    }
  }

  .pickers {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    // width: 60%;
    // border-style: solid;

    .download {
      color: $primary-blue;
      margin-top: 12px;
      cursor: pointer;
    }
  }

  .icon {
    color: $primary-blue;
    margin-top: 12px;
  }

  .downloadicon {
    margin-top: 19px;
    cursor: pointer;
  }
}

.clearfilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;

  .remove{
    margin-top: 10px;
    margin-left: 20px;

  }

  h5 {
    color: #526fd6;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
}
