@import "../../../styles/variables";
@import "../../../styles/styles";

.container {
  padding-bottom: 20px;
  margin-top: 60px;
}

.dropdowns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;

  .inputContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    max-width: 320px;
    background: #ffffff;
    border: 1px solid #b4b3bb;
    border-radius: 4px;
    height: 50px;
    margin: 6px 0px;
    padding: 0px 5px 0px 20px;

    textarea:focus,
    input:focus {
      outline: none;
    }

    .input {
      border-style: hidden;
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 140%;
      display: flex;
      align-items: center;
      color: #767676;
      margin: 0px 8px;
  }
  }
  .pickers {
    display: flex;
    justify-content: space-between;
    gap: 20px;

    .download {
      color: $primary-blue;
      margin-top: 16px;
      cursor: pointer;
      width: 35.66px;
      height: 40px;
    }
  }

  .icon {
    color: $primary-blue;
    margin-top: 12px;
  }

  .downloadicon {
    margin-top: 19px;
    cursor: pointer;
  }
}

.clearfilter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  cursor: pointer;

  .remove {
    margin-top: 10px;
    margin-left: 20px;
  }

  h5 {
    color: #526fd6;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }
}

.table__row__header {
  font-weight: 700;
  line-height: 22px;
}
.table__header {
  background-color: #e0e5f8 !important;
  border-radius: 10px 10px 0px 0px;
}
.pagination {
  border-radius: 0px 0px 10px 10px;
}

@media (max-width:1200px) {
.dropdowns .inputContainer {
  max-width: 271px;
  padding: 0px 2px 0px 2px;
}
.table__row__header {
  font-size: 10px;
}
.table__row {
  font-size: 10px;
}
}