body {
  margin: 0;
}

html,
body {
  height: 100%;
  font-size: 6px;
}

@media (min-width: 64em) {
  html,
  body {
    font-size: 8px;
  }
}

@media (min-width: 85.375em) {
  html,
  body {
    font-size: 11.5px;
  }
}

@media (min-width: 90em) {
  html,
  body {
    font-size: 13px;
  }
}

@media (min-width: 96em) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: 100em) {
  html,
  body {
    font-size: 15.5px;
  }
}

@media (min-width: 120em) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 160em) {
  html,
  body {
    font-size: 20px;
  }
}

.main-page-container {
  min-width: 100%;
  height: 100%;
}

.main-page-container .sidebar {
  position: fixed;
  width: 8.333rem;
}

.main-page-container .sidebar .sidebar__container img {
  width: calc(100% - 4rem);
}

.main-container {
  width: calc(100% - 14.333rem);
  margin-left: 8.333rem;
  float: right;
  height: auto;
  min-height: 100vh;
  background-color: #eff1f4;
  padding: 3rem 3rem 0rem 3rem;
}

.main-container.grid-page {
  padding: 5rem 4rem 4rem 4rem;
  min-width: 88rem;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #526fd6 0%, #526fd6 100%);
  border-radius: 10px;
}

::-moz-selection {
  background: #526fd6;
  color: #fff;
}

::selection {
  background: #526fd6;
  color: #fff;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 6px;
}

.hide-text {
  display: none;
}

.container {
  padding-bottom: 20px;
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.dropdowns .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 320px;
  background: #ffffff;
  border: 1px solid #b4b3bb;
  border-radius: 4px;
  height: 50px;
  margin: 6px 0px;
  padding: 0px 5px 0px 20px;
}

.dropdowns .inputContainer textarea:focus,
.dropdowns .inputContainer input:focus {
  outline: none;
}

.dropdowns .inputContainer .input {
  border-style: hidden;
  width: 180px;
  position: static;
  left: 10.17%;
  right: 47.12%;
  top: 0%;
  bottom: 0%;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 140%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #767676;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
  margin: 0px 8px;
}

.dropdowns .pickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.dropdowns .pickers .download {
  color: #526fd6 !important;
  margin-top: 16px;
  cursor: pointer;
  width: 35.66px;
  height: 40px;
}

.dropdowns .pickers .downloadpointer {
  pointer-events: none;
}

.dropdowns .icon {
  color: #526fd6 !important;
  margin-top: 12px;
}

.dropdowns .downloadicon {
  margin-top: 19px;
  cursor: pointer;
}

.clearfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.clearfilter .remove {
  margin-top: 10px;
  margin-left: 20px;
}

.clearfilter h5 {
  color: #526fd6;
  font-size: 16px;
  font-weight: 400;
  margin-top: 10px;
}

.table__row__header {
  font-weight: 500;
  line-height: 22px;
}

.table__header {
  background-color: #e0e5f8 !important;
  border-radius: 10px 10px 0px 0px;
}

.pagination {
  border-radius: 0px 0px 10px 10px;
}
/*# sourceMappingURL=invoices.css.map */