body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html,
body {
  height: 100%;
  font-size: 6px;
}

@media (min-width: 64em) {
  html,
  body {
    font-size: 8px;
  }
}

@media (min-width: 85.375em) {
  html,
  body {
    font-size: 11.5px;
  }
}

@media (min-width: 90em) {
  html,
  body {
    font-size: 13px;
  }
}

@media (min-width: 96em) {
  html,
  body {
    font-size: 14px;
  }
}

@media (min-width: 100em) {
  html,
  body {
    font-size: 15.5px;
  }
}

@media (min-width: 120em) {
  html,
  body {
    font-size: 18px;
  }
}

@media (min-width: 160em) {
  html,
  body {
    font-size: 20px;
  }
}

.main-page-container {
  min-width: 100%;
  height: 100%;
}

.main-page-container .sidebar {
  position: fixed;
  width: 8.333rem;
}

.main-page-container .sidebar .sidebar__container img {
  width: calc(100% - 4rem);
}

.main-container {
  width: calc(100% - 14.333rem);
  margin-left: 8.333rem;
  float: right;
  height: auto;
  min-height: 100vh;
  background-color: #E5E5E5;
  padding: 3rem 3rem 0rem 3rem;
}

.main-container.grid-page {
  padding: 5rem 4rem 4rem 4rem;
  min-width: 88rem;
  overflow: auto;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #526fd6 0%, #526fd6 100%);
  border-radius: 10px;
}

::-moz-selection {
  background: #526fd6;
  color: #fff;
}

::selection {
  background: #526fd6;
  color: #fff;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar {
  width: 6px;
}

.hide-text {
  display: none;
}

.container {
  padding-bottom: 20px;
}

.dropdowns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 20px 0px;
  gap: 20px;
}

.dropdowns .inputContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #ffffff !important;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #767676 !important;
  padding: 11px 12px;
}

.dropdowns .inputContainer textarea:focus,
.dropdowns .inputContainer input:focus {
  outline: none;
}

.dropdowns .inputContainer .input {
  border-style: hidden;
  width: 180px;
}

.dropdowns .pickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 20px;
}

.dropdowns .pickers .download {
  color: #526fd6 !important;
  margin-top: 12px;
  cursor: pointer;
}

.dropdowns .icon {
  color: #526fd6 !important;
  margin-top: 12px;
}

.dropdowns .downloadicon {
  margin-top: 19px;
  cursor: pointer;
}

.clearfilter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  cursor: pointer;
}

.clearfilter .remove {
  margin-top: 30px;
  margin-left: 25px;
}

.clearfilter h5 {
  width: 98px;
  height: 22px;
  color: #526fd6;
  font-size: 18px;
  font-style: normal;
  line-height: 22px;
  font-weight: 400;
  margin-top: 10px;
}
/*# sourceMappingURL=invoices.css.map */