@import "../../../styles/variables";
@import "../../../styles/styles";

.atlas-payment-invoices {
  .pickers{
    .openDropdownDatepickerWithRangeContainer{
      .a-dpicker__container{
        width: 13rem;
        .react-datepicker__input-container{
          input{
            width: 11.4rem !important;
          }
        }
      }
    }
  }
  .a-dropdown__option__item.multi-select{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: flex-start;
    padding-left: 1rem;
    gap: 0.8rem;
    .a-dropdown__option__item__check-mark{
      position: unset;
      transform: translateY(0%);
    }
  }
  .customerSelection {
    .a-dropdown__option {
      width: 17rem;
    }

    .a-dropdown__search {
      width: -webkit-fill-available;
      width: -moz-available;
      width: fill-available;
    }
  }

  .container {
    padding-bottom: 1.1111rem;
    margin-top: 3.3333rem;

    .listingBtnContainer {
      display: flex;
      justify-content: end;
      gap: 1rem;

      .new-invoice-button {
        margin-bottom: 2.3333rem;

        button.a-button.medium {
          font-size: 1rem;
          height: 3.13rem;
          width: 11.13rem;

          svg {
            width: 1.3333rem;
            height: 1.3333rem;
          }
        }
      }

      .add_payment_invoice {
        button {
          font-size: 1rem;
          display: flex;
          justify-content: center;
          align-items: center;

          svg {
            width: 1.2222rem;
            height: 1.2222rem;
          }
        }
      }
    }

    .table__row__header .sort-down,
    .table__row__header .sort-up {
      width: 0.4444rem;
      height: 0.7222rem;
    }

    .table__row__header .sort-down {
      right: 0.4444rem;
      top: 0.4444rem;
    }

    .dropdowns {
      display: flex;
      justify-content: space-between;
      gap: 1.1111rem;
      margin-bottom: 0.8889rem;

      .inputContainer {
        padding: 0px 0.2778rem 0px 1.1111rem;
        align-items: center;
        background: #fff !important;
        border: 0.056rem solid #ced4da;
        border-radius: 0.222rem;
        cursor: pointer;
        display: flex;
        font-size: 0.778rem;
        height: 2.778rem;
        position: relative;
        width: 15.1111rem;
        z-index: 998;

        svg {
          width: 1.3333rem;
          height: 1.3333rem;
        }

        textarea:focus,
        .input {
          border-style: hidden;
          font-size: 1rem;
          font-weight: 400;
          line-height: 140%;
          display: flex;
          align-items: center;
          color: #767676;
          margin: 0px 0.4444rem;
          height: 2.188rem;
          width: 100%;
        }

        input:focus {
          outline: none;
        }
      }

      .pickers {
        display: flex;
        justify-content: space-between;
        gap: 1.1111rem;

        .a-dropdown {
          width: 15rem;
         
          &.isOpen{
            border:.056rem solid #ced4da !important;
            outline: 0.111rem Solid #526fd6 !important;
            box-shadow: 0 0 0 0.278rem #526fd62e;  
            &:focus-visible{
              outline: 0.111rem Solid #526fd6 !important;
              box-shadow: 0 0 0 0.278rem #526fd62e;  
            } 
          }
        }

        img {
          width: 1.4444rem;
          height: 2.8889rem;
        }

        .download {
          color: $primary-blue;
          margin-top: 0.2rem;
          cursor: pointer;
          width: 1.9811rem;
          height: 2.2222rem;
        }

        .downloadpointer {
          pointer-events: none;
          margin-top: 0.2rem;
        }
        
      }

      .icon {
        color: $primary-blue;
        margin-top: 0.6667rem;
      }

      .downloadicon {
        margin-top: 1.0556rem;
        cursor: pointer;
      }
    }

    .clearfilter {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      cursor: pointer;

      .remove {
        margin-top: 0.5556rem;
        margin-left: 1.1111rem;
      }

      h5 {
        color: #526fd6;
        font-size: 0.8889rem;
        font-weight: 400;
        margin-top: 0.5556rem;
      }
    }

    .table__row__header {
      font-weight: 700;
      line-height: 1.2222rem;
    }

    .table__header {
      background-color: #e0e5f8 !important;
      border-radius: 10px 10px 0px 0px;
    }

    .pagination {
      border-radius: 0px 0px 10px 10px;
    }

    .toast {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding: 1.531rem;
      position: absolute;
      width: fit-content;
      height: 2.2rem;
      left: 2.5rem;
      margin-top: -3rem;
      margin-left: 30rem;
      background-color: rgba(8, 18, 58, 0.8);
      color: #ffffff;
      font-size: 1.1111rem;
      letter-spacing: 2px;
      box-shadow: 0rem 0.25rem 0.5rem rgba(112, 128, 144, 0.6);
      border-radius: 0.25rem;
      z-index: 2;
    }

    .toast-action {
      margin-top: -3px;
      margin-left: 0.5556rem;
    }

    @media (max-width: 1440px) {
      .table__row__header {
        font-size: 0.9rem;
      }
    }

    @media (max-width: 1200px) {
      .dropdowns .inputContainer {
        max-width: 15.0556rem;
        padding: 0px 0.1111rem 0px 0.1111rem;
      }

      .table__row__header {
        font-size: 0.5556rem;
      }

      .table__row {
        font-size: 0.5556rem;
      }
    }

    .invalidSearch {
      background-color: white;
      padding: 3rem;
      border-radius: 12px;

      .uhohContainer {
        display: flex;
        align-items: center;

        p {
          padding-left: 1rem;
          color: $primary-gray;
          font-size: 1.5rem;
        }
      }

      ul {
        padding-left: 5.5rem;
        font-size: 1.25rem;
        color: $secondary-gray;
        margin: 0px;
      }
    }
  }
}