@import "../../../styles/variables";
@import "../../../styles/styles";

.atlas-payment-invoices {
  .invoiceDetailsContainer {
    padding-bottom: 2.222rem;

    .change-miss {
      background-color: white !important;
    }

    .invoiceDetailsHeaderRow {
      display: flex;
      justify-content: space-between;
      margin-bottom: 1.333rem;
      flex-direction: column-reverse;

      .breadcrumbs {
        display: flex;
        align-items: center;

        .icon {
          margin-top: 4px;
          margin-left: 1.111rem;
          font-weight: bold;
        }

        .text {
          font-weight: bold;
        }

        .navtext {
          cursor: pointer;
          font-weight: bold;
        }
      }

      .buttons {
        display: flex;
        gap: 1.111rem;
        position: relative;
        margin: 0 0 2rem auto;

        .void-button {
          cursor: pointer;

          button.a-button.secondary-btn {
            border: none !important;
            color: red !important;
            margin-right: -2.1111rem;
          }

          button.a-button.small {
            font-size: 1rem;
            font-weight: 600;
          }
        }

        .addPaymentButton {
          margin: 0 3.2rem 0 0;

          button.a-button.medium {
            margin-right: -2rem;
          }
        }

        .download {
          display: flex;
          align-items: center;
          background-color: $white;
          border-style: solid;
          border-color: $primary-blue;
          border-radius: 4px;
          height: 2.5rem;
          font-size: 1rem;
          border-width: 0.1rem;
          cursor: pointer;

          .text {
            padding: 0px 1.1111rem;
            margin: 0px;
            color: $primary-blue;
          }

          .icon {
            margin-top: 0.667rem;
          }
        }

        .download_disable {
          display: flex;
          align-items: center;
          background-color: $white;
          border-style: solid;
          border-color: $primary-blue;
          border-radius: 0.2222rem;
          height: 2.5rem;
          font-size: 1rem;
          border-width: 0.1rem;
          cursor: no-drop;
          opacity: 50%;

          .text {
            padding: 0px 1.1111rem;
            margin: 0px;
            color: $primary-blue;
          }

          .icon {
            margin-top: 0.667rem;
          }
        }

        .addPaymentButton {
          margin-right: 2.1rem;
        }

        .decline-invoice {
          background-color: white;

          button.a-button.small {
            font-size: 0.889rem;
            height: 2.5rem;
            width: 11.31rem;
          }

          button.a-button svg {
            padding-right: 0rem;
            margin-top: 0.2778rem;
          }
        }

        .openDownloadDropdown {
          position: absolute;
          background-color: $white;
          top: 3rem;
          width: 12rem;
          left: 0;
          padding: 0.4444rem;

          p {
            color: $secondary-gray;
            margin: 0px;
            padding: 0.4444rem 0.2222rem;
            cursor: pointer;

            &:hover {
              background-color: $active;
              font-weight: 600;
            }
          }
        }
      }

      .saveBtnContainer {
        button.a-button.secondary-btn {
          background-color: $white;
        }

        button.a-button.small {
          width: 9.31rem;
        }
      }

      button.a-button.small {
        border: 2px solid #526fd6 !important;

        &:disabled {
          border: 2px solid #cbd4f3 !important;
        }
      }

      .download-invoice-dropdown {
        position: relative;
      }
    }

    .payrollInvoiceInfo {
      background-color: $white;
      border-radius: 0.4444rem;

      .topBar {
        background-color: $secondary-blue;
        border-top-left-radius: 0.4444rem;
        border-top-right-radius: 0.4444rem;
        padding: 0rem 5rem;
        padding-top: 4.0556rem;
        padding-bottom: 2.4444rem;

        .invoic-status {
          padding: 0.2222rem 1.3889rem;
          border-radius: 1rem;
          width: fit-content;
          border: 1px solid #cbd4f3;
          background-color: #e0e5f81a;
          color: #cbd4f3;
          margin-bottom: 1rem;

          p {
            margin: 0;
          }
        }

        .topBarrow {
          display: flex;
          justify-content: space-between;
          align-items: flex-start;

          .invoiceNo {
            display: flex;
            flex-direction: column;

            .qbo_wrapper {
              display: flex;
              align-items: center;
              gap: 0.333rem;
            }

            .qbo {
              font-style: normal;
              font-weight: 400;
              font-size: 1.2rem;
              line-height: 3rem;
            }

            p {
              color: $white;
              font-size: 1.778rem;
              font-weight: 400;
              margin: 0;
            }
          }

          .amount {
            display: flex;
            flex-direction: column;
            gap: 0.556rem;

            p {
              color: #cbd4f3;
              margin: 0px;
              font-size: 1.111rem;

              span {
                color: $white;
                font-size: 1.111rem;
              }
            }
          }
        }
      }

      .infoDetails {
        display: flex;
        padding: 1.6667rem;
        margin-bottom: 3rem;

        @mixin heading {
          color: $primary-blue;
          font-size: 0.8rem;
        }

        @mixin value {
          font-weight: bold;
          font-size: 1rem;
          margin-top: 0px;
          margin-bottom: 1.875rem;
        }

        .divContainer {
          width: 25%;
          border-right-style: solid;
          border-right-width: 1px;
          border-color: #ebebed;
          padding: 0rem 4rem;

          .dpContainer {
            .a-dpicker__container {
              width: 14rem;
            }

            .a-dpicker .react-datepicker__input-container input {
              width: 10.778rem;
            }
          }

          .dpMidMargin {
            margin-bottom: 1rem;
          }
        }

        .autoapproveContainer {
          width: 100% !important;
          padding: 0px !important;

          div {
            width: 100% !important;
            border-right-style: solid;
            border-right-width: 1px;
            border-color: #ebebed;
            padding: 0px !important;
          }

          .a-checkbox-wrapper input[type="checkbox"] {
            height: 0.7rem;
            width: 0.7rem;
          }

          .a-checkbox-wrapper label {
            top: 0rem;
          }
        }

        .heading {
          @include heading();
        }

        .value {
          @include value();
          color: #3e3e3e;
        }

        .address {
          margin: 2px 0px;
          color: #3e3e3e;
        }

        .smallText {
          font-size: 0.813rem;
          line-height: 140%;
          margin: 0px;
        }

        .lastCloumn {
          border-style: hidden;
        }

        .poNoInput {
          height: 2rem;
        }

        .poNo {
          border-style: solid;
          border-width: 1px;
          width: 6rem;
          border-color: $secondary-gray;
          border-radius: 0.2222rem;
          padding: 0.4444rem;
          text-align: center;
        }
      }
    }

    .paymentDisplayContainer {
      background-color: $white;
      border-radius: 0.4444rem;

      .border-line {
        border-top: 0.1rem solid #000000;
      }

      .paymentInstallmentContainer {
        display: flex;
        flex-direction: column;
        margin: 0rem 3rem 1rem;
        padding-top: 2rem;

        .paymentPageTitleHeader {
          display: flex;
          justify-content: space-between;
          padding: 0rem 1rem 2rem;

          p {
            color: #17224e;
            font-size: 1.4rem;
          }

          .topButtonActions {
            display: flex;
            flex-direction: row;

            .paymentDetailEdit {
              button.a-button.medium {
                font-size: 1.2rem;
                width: 7.13rem;
              }

              svg {
                height: 1.3rem;
                width: 1.3rem;
              }
            }

            .paymentPageCancelSave {
              display: flex;
              width: 18rem;
              justify-content: space-between;
              align-items: center;

              .paymentDetailCancel {
                button.a-button.secondary-btn {
                  border: 0px;
                  font-size: 1.2rem;
                }
              }

              .paymentDetailSave {
                button.a-button.medium {
                  width: 10.13rem;
                  font-size: 1.1rem;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .paymentPageTitleHeaderNoTitle {
          display: flex;
          justify-content: flex-end;
          padding: 0rem 1rem 3rem;

          .topButtonActions {
            display: flex;
            flex-direction: row;

            .paymentDetailEdit {
              button.a-button.medium {
                font-size: 1.2rem;
                width: 7.13rem;
              }

              svg {
                height: 1.3rem;
                width: 1.3rem;
              }
            }

            .paymentPageCancelSave {
              display: flex;
              width: 18rem;
              justify-content: space-between;
              align-items: center;

              .paymentDetailCancel {
                button.a-button.secondary-btn {
                  border: 0px;
                  font-size: 1.2rem;
                }
              }

              .paymentDetailSave {
                button.a-button.medium {
                  width: 10.13rem;
                  font-size: 1.1rem;
                  font-weight: 500;
                }
              }
            }
          }
        }

        .paymentInstallmentUpperBlock {
          display: flex;
          margin-bottom: 5rem;
          justify-content: space-between;

          .paymentInstallmentDatepicker {
            margin-left: 1rem;

            span.react-datepicker__label:after {
              content: "*";
              color: red;
            }
          }

          .paymentInstallmentContainerDropdowns {
            margin-left: 1rem;

            span.a-dropdown__label.Currency::before {
              content: "Select currency";
              font-size: 1rem;
            }

            span.a-dropdown__label.Location::before {
              content: "Select Location";
              font-size: 1rem;
            }

            span.a-dropdown__label.Reference.No::before {
              content: "Enter reference no";
              font-size: 1rem;
            }

            .a-dropdown__label {
              font-size: 0rem;
            }

            .a-dropdown {
              z-index: inherit;
            }

            span.a-dropdown__title:after {
              content: "*";
              color: red;
            }
          }
        }

        .paymentInstallmentLowerBlock {
          display: flex;
          margin-bottom: 3rem;
          justify-content: space-between;

          .paymentInnerLowerBlock {
            display: flex;
            width: 68.3rem;
            justify-content: space-between;

            .paymentInstallmentContainerDropdowns {
              margin-left: 1rem;

              .a-dropdown__label {
                font-size: 0rem;
              }

              span.a-dropdown__label.Deposited.to.bank::before {
                content: "Select bank options";
                font-size: 1rem;
              }

              span.a-dropdown__label.Payment.Method::before {
                content: "Select payment method";
                font-size: 1rem;
              }

              .a-dropdown {
                z-index: inherit;
              }

              span.a-dropdown__title:after {
                content: "*";
                color: red;
              }
            }

            .PaymentPageTotalAmountInput {
              margin-top: -1.2rem;

              .amountPaymentPageInput {
                .disable-input-color {
                  background: #f5f5f6 !important;
                }

                span {
                  font-size: 0.889rem;
                  margin-left: 0.2rem;
                  color: #767676;
                }

                span::after {
                  content: "*";
                  color: red;
                }

                input {
                  padding: 0.8rem;
                  background: #fff !important;
                  border: 0.056rem solid #ced4da;
                  border-radius: 0.222rem;
                  cursor: text;
                  display: flex;
                  font-size: 1rem;
                  position: relative;
                  width: 17.5rem;
                }
              }

              .fullAmountPaymentNoInput {
                color: #767676;
                font-size: 0.7rem;
                margin-top: 0.5rem;
                margin-left: 0.1rem;
              }
            }
          }

          .PaymentPageTotalAmount {
            margin-top: -3rem;
            margin-left: 1rem;

            p {
              color: $primary-blue;
              margin-bottom: 0rem;
              font-weight: 600;
            }

            .amountPaymentPage {
              color: $primary-blue;
              background-color: $active;
              padding: 1rem 1rem;
              border-radius: 8px;
              font-size: 1.5rem;
              font-weight: 500;
            }

            .fullAmountPaymentCheckbox {
              margin-top: 0.7rem;
              margin-left: 0.5rem;

              .a-checkbox-wrapper input[type="checkbox"] {
                height: 0.8rem;
                width: 0.8rem;
              }

              .a-checkbox-wrapper label {
                font-weight: 500;
                top: 0rem;
              }
            }
          }
        }
      }

      .addPaymentInstallmentButton {
        border-top: 1rem solid #eff1f4;

        .addPaymentInstallmentIcon {
          display: flex;
          align-items: center;
          color: #526fd6;
          cursor: pointer;
          padding: 2rem 3rem;
          font-weight: 500;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #526fd6;
            padding: 3px 1px 2px 4px;
            border-radius: 1.8rem;
            margin: 0 0.5rem 0 0;

            svg {
              margin: 0 !important;
            }
          }
        }
      }
    }

    .tab {
      display: flex;
      padding: 0.6667rem 0px;

      .tabTextActive {
        border-bottom: 3px solid $primary-blue;
        padding: 0.6667rem 0.6667rem;
        color: $primary-blue;
        font-weight: 600;
        cursor: pointer;
      }

      .tabTextPassive {
        border-bottom: 3px solid $light-gray;
        padding: 0.6667rem 0.6667rem;
        color: $secondary-gray;
        cursor: pointer;
      }
    }

    .tableHeader {
      margin-left: 0.8889rem;
    }

    .payroll {
      .table__row__data img,
      .table__row__header img {
        margin-right: 0.5rem;
        border-radius: 2rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .invoice_bill_table {
      .table__row__data img,
      .table__row__header img {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .master {
      .table__row__data img,
      .table__row__header img {
        margin-right: 0.5rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    }

    .countrySummaryCalc {
      display: flex;
      background-color: $white;
      align-items: center;
      justify-content: flex-end;
      padding: 20px;
      gap: 20px;

      p {
        color: $primary-blue;
      }

      h3 {
        color: $primary-blue;
        background-color: $active;
        padding: 0.8889rem;
        border-radius: 8px;
      }
    }

    .feeSummaryCalc {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: $white;
      padding: 1.1111rem;

      .rowFee {
        display: flex;
        border-bottom-style: solid;
        border-color: $light-gray;
        border-width: 1px;
        width: 30%;
        justify-content: space-between;

        .title {
          color: $secondary-gray;
        }

        .amount {
          font-weight: bold;
        }
      }

      .row2 {
        display: flex;
        width: 30%;
        justify-content: space-between;

        .title {
          color: $secondary-gray;
        }

        .amount {
          font-weight: bold;
        }
      }

      .totalRow {
        display: flex;
        align-items: center;
        gap: 1.1111rem;

        p {
          color: $primary-blue;
        }

        h3 {
          color: $primary-blue;
          background-color: $active;
          padding: 0.8889rem;
          border-radius: 8px;
        }
      }
    }

    .countryHeader {
      display: flex;
      align-items: center;
      gap: 0.5556rem;

      img {
        width: 1.563rem;
        height: 1.172rem;
      }
    }

    .totalContainer {
      display: flex;
      justify-content: flex-end;
      margin-top: 1.1111rem;

      div {
        display: flex;
        align-items: center;
        background-color: $secondary-blue;
        padding: 0px 1.1111rem;
        gap: 4.4444rem;
        border-radius: 0.4444rem;

        p {
          color: $disabled;
        }

        h3 {
          color: $white;
        }
      }
    }

    .filesNotes {
      display: flex;
      gap: 1.25rem;

      .box {
        width: 40%;
        height: 45.75rem;
        border-radius: 10px;
        background-color: $white;
        padding: 4rem;

        h3 {
          font-size: 1.5rem;
          font-weight: 400;
        }

        p {
          font-size: 1.125rem;
          margin-bottom: 2.5rem;
        }

        .notesContainer {
          height: 24rem;
          margin-top: 1rem;
          margin-right: 3rem;

          .notesSubContainer {
            .noteInfoBtn {
              display: flex;
              align-items: center;
              justify-content: space-between;

              .noteInfo {
                display: flex;
                align-items: center;

                span {
                  color: $medium-gray;
                  font-size: 0.8rem;
                }
              }

              .noteBtn {
                display: flex;
                gap: 1rem;
              }
            }

            .note {
              p {
                display: flex;
                background-color: $active;
                padding: 1rem;
                border-radius: 4px;
                color: $primary-gray;
                margin: 1rem 0px;
                font-size: 0.8rem;
                word-break: break-all;
                line-height: 2rem;
              }
            }
          }
        }

        .inpContinaer {
          display: flex;
          flex-direction: column;
          margin-top: 1rem;
          margin-bottom: 1rem;

          textarea {
            margin-bottom: 1rem;
            font-family: "Circular", sans-serif;
            padding: 0.8rem;
            padding-bottom: 3rem;
            resize: none;
          }

          textarea:focus {
            outline-color: $primary-blue;
          }

          span {
            color: $medium-gray;
            font-size: 0.7rem;
          }
        }

        .btnContainer {
          display: flex;
          flex-direction: column;
          align-items: flex-start;

          .btnContainercheckbox {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 1rem;
            width: 100%;

            .a-checkbox-wrapper {
              margin: 0 0.5rem 0 0;
            }

            .a-checkbox-wrapper input[type="checkbox"] {
              width: 0.7rem;
              height: 0.7rem;
            }

            label {
              font-size: 0.7rem;
              display: none;
            }

            .check_wrapper {
              display: flex;
              align-items: center;
            }

            .check_label {
              display: flex;
              font-size: 0.64rem;
              cursor: pointer;
            }
          }

          button.a-button.small {
            width: 7.31rem;
          }
        }
      }

      .box2 {
        width: 60%;
        height: 45.75rem;
        border-radius: 10px;
        background-color: $white;
        padding: 4rem;

        h3 {
          font-size: 1.5rem;
          font-weight: 400;
        }

        p {
          font-size: 1.125rem;
          margin-bottom: 2.5rem;
        }

        .boxsubcontainer {
          height: 38rem;
          overflow: auto;
        }

        .fileHandlerContainer {
          display: flex;
          flex-direction: column;
          gap: 1rem;

          .a-fhandler {
            width: 88%;
          }
        }

        .uploadConatiner {
          display: flex;
          margin-top: 5rem;
          width: 98%;

          .a-upload {
            width: 100%;
          }

          .a-upload__label {
            font-size: 1.125rem;
          }
        }
      }
    }

    .approvalMsg {
      position: fixed;
      bottom: 2.222rem;
      right: 2.222rem;
      background-color: $medium-gray;
      padding: 1.111rem;
      border-radius: 2px;
    }

    .a-upload__progress__bar .label {
      white-space: nowrap;
      text-overflow: ellipsis;
      width: 13rem;
      overflow: hidden;
    }

    .a-breadcrumb {
      margin-bottom: 0.5rem;

      &__label {
        font-weight: 400;
        cursor: pointer;
      }

      .steps:last-child {
        span {
          font-weight: 400;
        }
      }
    }

    ::-webkit-scrollbar-thumb {
      background: $medium-gray;
      border-radius: 10px;
    }

    .decline-modal {
      .a-modal__body {
        height: auto;
        padding: 2.5rem;
        width: auto;
      }

      h3 {
        margin-top: -12px;
        font-size: 1.556rem;
        line-height: 1.9444rem;
      }

      .text-line {
        font-size: 0.889rem;
        line-height: 1.333rem;
        color: #3e3e3e;
        margin-top: -6px;
      }

      .text-invoive-no {
        font-size: 0.889rem;
        line-height: 1.333rem;
        font-weight: 600;
        color: #3e3e3e;
        margin-top: -0.722rem;
      }

      .a-checkbox-wrapper label {
        display: none;
      }

      .dec_check_main {
        margin-top: 1.3rem;
      }

      .dec_check_wrapp {
        display: flex;
      }

      #dec_check_wrapp #sampleCheckbox {
        width: 1rem;
        height: 1rem;
      }

      .dec_check_wrapp .dec_check_label {
        display: flex;
        margin: 0 0 0 1rem;
        font-size: 1rem;
        line-height: 1rem;
        color: #3e3e3e;
        cursor: pointer;
        font-weight: 400;
      }

      .text-invoice-comment {
        display: flex;
        flex-direction: column;
        gap: 0.3333rem;

        label {
          color: #3e3e3e;
          font-weight: 400;
          font-size: 0.722rem;
          line-height: 0.889rem;
        }
      }

      .textarea-box {
        border-radius: 0.2222rem;
        padding: 1.111rem;
        max-width: 25rem;
        font-family: "Circular", sans-serif;
      }

      .comment {
        color: red;
      }

      .decline-modal-button {
        margin-top: 1.778rem;
        display: flex;
        justify-content: end;

        button.a-button.medium {
          font-size: 1.099rem;
          line-height: 1.3333rem;
          font-weight: 400;
          border: 2px solid #526fd6;

          &:disabled {
            border: 2px solid #cbd4f3 !important;
          }
        }

        .cancel-button {
          max-width: 7rem;
        }

        .decline-button {
          max-width: 11rem;
        }
      }
    }

    .void-modal {
      display: flex;

      .a-modal__body {
        height: auto;
        padding: 2rem 2.5rem !important;
        width: auto;
      }

      h3 {
        margin-top: 0px;
        font-size: 1.5rem;
        line-height: 1.944rem;
        color: #041e42;
      }

      h6 {
        font-size: 0.722rem;
        line-height: 0.889rem;
        color: #3e3e3e;
        margin-top: 2.222rem;
      }

      textarea.textarea-box {
        margin-top: -1.111rem;
        padding: 0.889rem;
        border-radius: 4px;
        font-family: "Circular", sans-serif;
        max-width: 23rem;
      }

      .attachment {
        display: flex;
        flex-direction: row;
        margin-top: 0.667rem;
        cursor: pointer;

        svg {
          margin-top: 1.333rem;
          width: 1.9rem;
          height: 1.9rem;
        }

        h4 {
          color: #526fd6;
          font-weight: 600;
          font-size: 1.19rem;
          margin-left: 0.278rem;
        }

        p {
          background-color: #041e42;
          margin-top: -0.556rem;
          margin-left: 0.222rem;
        }
      }

      .void-button {
        display: flex;
        justify-content: end;
        margin-top: 0.833rem;

        button.a-button.small {
          font-size: 1rem;
          height: 2.99rem;
          width: 5.31rem;
        }
      }
    }

    .void-confirm-modal {
      background-color: #fff;

      svg {
        display: none !important;
      }

      .a-modal__body {
        height: auto;
        width: auto;
        padding: 2.5rem !important;
      }

      .void-confirm-button {
        svg {
          display: inline-block !important;
        }

        button.a-button.medium {
          font-size: 1.16rem;
          width: 7.1111rem;
        }
      }

      h4 {
        font-size: 1.556rem;
        line-height: 1.944rem;
        margin-top: -0.2778rem;
        margin-left: 0.833rem;
      }
    }

    .void-confirm-button {
      margin-top: 4.778rem;
      display: flex;
      justify-content: end;
      align-items: center;

      .decline-button {
        margin-left: 1.667rem;
      }
    }

    .upper-delete-button {
      display: flex;
      position: absolute;
      right: 0;
      bottom: -3rem;

      .delete-invoice {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 8.7778rem;
        margin-left: -2rem;
        align-items: center;
        cursor: pointer;

        img {
          height: 1.1111rem;
          width: 1.1111rem;
          // margin-top: 12px;
        }

        h5 {
          font-size: 1rem;
          margin: 0rem;
          color: red;
        }
      }
    }

    .delete-confirm-modal {
      background-color: #fff;

      svg {
        display: none !important;
      }

      .a-modal__body {
        height: auto;
        width: auto;
        padding: 2.5rem !important;
      }

      .delete-confirm-button {
        svg {
          display: inline-block !important;
        }

        button.a-button.medium {
          font-size: 1.16rem;
          width: 9.13rem;
          border: 2px solid #526fd6 !important;
        }
      }

      h4 {
        font-size: 1.899rem;
        margin-top: 0rem;
      }

      .delete-confirm-button {
        margin-top: 4.7778rem;
        display: flex;
        justify-content: end;

        .delete-button {
          margin-left: 1.6667rem;
        }
      }
    }

    .toast {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 1rem;
      justify-items: center;
      position: absolute;
      width: fit-content;
      background-color: rgba(8, 18, 58, 0.8);
      color: #ffffff;
      font-size: 0.7222rem;
      letter-spacing: 2px;
      box-shadow: 0rem 0.25rem 0.5rem rgba(112, 128, 144, 0.6);
      border-radius: 0.25rem;
      z-index: 2;
      margin-left: 33rem;
      margin-top: 1rem;
    }

    .toast-action {
      margin-top: -0.1667rem;
      margin-left: 0.5556rem;
      cursor: pointer;
    }

    .invoice-logs {
      padding: 4rem;
      justify-content: flex-start;

      .timeline-item-min .email {
        font-weight: bold;
      }
    }

    .compensation-full-container {
      .a-modal__body {
        height: 80vh;
        width: 57%;
        display: block;
        padding: 0;
      }

      .compensation-inner-container {
        .profile-header-container {
          margin-bottom: 1.7rem;
          margin-top: 0;
          padding: 0;
          display: flex;
          flex-direction: column;
          border-radius: 10px;

          > div {
            display: flex;
          }

          .section-1 {
            background-color: #041e42;
            width: 100%;
            height: 10rem;
            border-radius: 10px 10px 0 0;
            position: relative;

            .img-container {
              display: flex;
              align-items: center;
              justify-content: center;
              position: relative;

              .a-iupload {
                width: 10.333rem;
                height: 10.333rem;
                position: relative;
                top: 6rem;
                font-family: "CircularXX", Arial, Helvetica, sans-serif;
                border: none !important;
                background: #eef1fb;
                cursor: context-menu;
                margin-left: 3rem;

                .a-iupload__icon {
                  display: none !important;
                }

                &__initials {
                  cursor: context-menu;
                  font-size: 5rem;
                  letter-spacing: -0.625rem;
                }

                img {
                  width: 100%;
                  height: 100%;
                  border-radius: 100%;
                }

                &__icon {
                  width: 3.5rem;
                  height: 3.5rem;
                  right: 1.5rem;
                }
              }
            }

            .info-text-container {
              position: absolute;
              right: 40px;
              bottom: 1rem;

              .info-text {
                font-style: normal;
                font-weight: 450;
                font-size: 1rem;
                line-height: 1.444rem;
                text-align: right;
                color: #ffffff;
                padding-top: 0.8rem;
              }
            }

            .col-6 {
              margin-left: 1rem;

              .header {
                font-style: normal;
                font-weight: 500;
                font-size: 2.3rem;
                line-height: 3.222rem;
                letter-spacing: -0.005em;
                color: #ffffff;
                padding-top: 4rem;
              }

              .sub-header {
                font-style: normal;
                font-weight: 500;
                font-size: 1.333rem;
                line-height: 1.889rem;
                color: #cbd4f3;
              }
            }
          }

          .section-2 {
            background-color: #e0e5f8;
            width: 100%;
            height: 10rem;
            border-radius: 0 0 10px 10px;

            .misc-info {
              height: 100%;
              display: flex;
              margin-left: 14rem;

              &__item {
                display: flex;
                color: #041e42;
                font-style: normal;
                font-weight: 450;
                font-size: 1rem;
                line-height: 1.444rem;
                padding-top: 2rem;

                &__2 {
                  .desig {
                    font-style: normal;
                    font-weight: 450;
                    font-size: 1rem;
                    line-height: 1.444rem;
                    color: #767676;
                  }
                }
              }
            }

            .compensation-invoice-status {
              display: flex;
              justify-content: flex-end;
              width: 38%;
              align-items: center;

              p {
                color: green;
                border: 1px solid;
                font-size: 1rem;
                padding: 0.5rem 1.7rem;
                border-radius: 2rem;
                margin-right: 3rem;
                background-color: #eef5f1;
                margin-top: 6rem;
              }
            }
          }
        }

        .compensation-text {
          font-size: 1.4rem;
          padding: 1rem 4rem;
          display: flex;
          justify-content: flex-start;
          width: 90%;
        }

        .compensation-table {
          display: flex;
          width: 100%;
          justify-content: center;
          margin-bottom: 4.3rem;
          max-height: 12.5rem;
          overflow-y: scroll;

          .table {
            width: 92%;
          }
        }
      }
    }
  }

  .toast {
    position: fixed;
    bottom: 0;
    display: flex !important;
    background: #041e42;
    right: 3rem;
    color: #ffffff;
    width: 21.5rem;
    height: 4.75rem;
    align-items: center;
    justify-content: space-around;
    z-index: 9999;
    opacity: 1 !important;
    padding: 1rem;

    &__action {
      background: #526fd6;
      border-radius: 100%;
      display: flex;
      cursor: pointer;
    }
  }

  .delete-employee-modal {
    .a-modal__body {
      height: 32vh;
      width: 29%;
    }
    .delete-employee-inner-container {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      height: 16rem;
      justify-content: space-between;

      .delete-emplyee-buttons {
        margin-top: 4.7778rem;
        display: flex;
        justify-content: end;

        .employee-button {
          margin-left: 1.6667rem;
        }
        svg {
          display: inline-block !important;
        }

        button.a-button.medium {
          font-size: 1.16rem;
          width: 12.13rem;
          border: 2px solid #526fd6 !important;
        }
      }
    }
  }
}
