@import "mixins";
@import "bootstrap";
.atlas-payment-invoices {
  @font-face {
    font-family: "Circular-Medium";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Medium.woff") format("woff");
  }

  @font-face {
    font-family: "Circular-Medium";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Medium.woff2") format("woff2");
  }

  @font-face {
    font-family: "CircularXX";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Regular.woff2") format("woff2");
  }

  @font-face {
    font-family: "CircularXX";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Regular.woff") format("woff");
  }

  @font-face {
    font-family: "Circular-Bold";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Bold.woff") format("woff");
  }

  @font-face {
    font-family: "Circular-Bold";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Bold.woff2") format("woff2");
  }

  @font-face {
    font-family: "Circular-Book";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Book.woff") format("woff");
  }

  @font-face {
    font-family: "Circular-Book";
    src: local("Circular"),
      url("../assets/fonts/CircularXXWeb-Book.woff2") format("woff2");
  }

  body {
    margin: 0;
  }

  // Breakpoints
  $bp-768: 48em; // 768px - DONE
  $bp-1024: 64em; // 1024px - DONE
  $bp-1366: 85.375em; //1366px
  $bp-1440: 90em; // 1440px - DONE
  $bp-1536: 96em; //1536
  $bp-1600: 100em; //1600
  $bp-1920: 120em; //1920
  $bp-2560: 160em; // 2560px

  // Media Queries
  $mq-768: "(min-width: #{$bp-768})";
  $mq-1024: "(min-width: #{$bp-1024})";
  $mq-1366: "(min-width: #{$bp-1366})";
  $mq-1440: "(min-width: #{$bp-1440})";
  $mq-1536: "(min-width: #{$bp-1536})";
  $mq-1600: "(min-width: #{$bp-1600})";
  $mq-1920: "(min-width: #{$bp-1920})";
  $mq-2560: "(min-width: #{$bp-2560})";

  $mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

  html,
  body {
    height: 100%;
    font-size: 6px;
    @media #{$mq-1024} {
      font-size: 8px;
    }

    @media #{$mq-1366} {
      font-size: 11.5px;
    }

    @media #{$mq-1440} {
      font-size: 13px;
    }

    @media #{$mq-1536} {
      font-size: 14px;
    }

    @media #{$mq-1600} {
      font-size: 15.5px;
    }

    @media #{$mq-1920} {
      font-size: 18px;
    }

    @media #{$mq-2560} {
      font-size: 20px;
    }
  }
  
  ::selection {
    background: #526fd6;
    color: #fff;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }

  .hide-text {
    @include d-none;
  }
  .new_Invoice_itme_summary{
    #container_main1{
      .a-dpicker__container{
        input{
          width: -webkit-fill-available;
          width: -moz-available;
          width: fill-available;
        }
      }
    }
  }
  .select-component, .input-component{
    margin-top: 1.1rem;
    margin-bottom: 1.5rem;
    padding-right: 1.6667rem;
    position: relative;
  }
  svg.react-datepicker__icon{
    width: 1.3333rem;
    height: 1.3333rem;
  }
}
