$primary-blue: #526fd6 !important;
$primary-blue-wi: #526fd6;
$primary-blue-hover: #3b57b9 !important;
$secondary-blue: #041e42 !important;
$primary-gray: #3e3e3e !important;
$secondary-gray: #767676 !important;
$medium-gray: #b4b3bb !important;
$light-gray: #ebebed !important;
$bg-fill: #eff1f4 !important;
$white: #ffffff !important;
$black: #000000 !important;
$alt-bg: #e0e5f8 !important;
$active: #eef1fb !important;
$yellow: #fbaf00 !important;
$red: #e32c15 !important;
$green: #519872 !important;
$disabled: #cbd4f3 !important;
$transparent: transparent !important;
$none: none !important;
$warning: #fef3d9 !important;
$warning-lite: #fffbf3 !important;
$alert: #f7c9be !important;
$alert-lite: #fce5dc !important;

$background: #e5e5e5;
