@import "../../../styles/variables";
@import "../../../styles/styles";

.atlas-payment-invoices {
  #popover {
    #body_main #title {
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      color: #17224e;
    }

    #body_main #description {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #3e3e3e;
      margin: 35px 0 50px 0;
      max-width: 526px;
    }

    .credit-memo-preview-invoice-button {
      margin-top: 3rem;
      button.a-button.medium {
        width: 9.13rem;
        font-size: 1rem;
      }
    }

    //popup

    .credit-memo-preview-modal {
      .a-modal__body {
        height: 95vh;
        width: 90rem;
        padding: 0rem;
      }

      .creditMemoModal {
        width: 100%;
        height: 100%;
        overflow-y: scroll;
        border-radius: 0.556rem;

        .creditMemoTopBar {
          background-color: #cbd4f3;
          display: flex;
          justify-content: center;
          min-height: 11rem;
          .creditMemoInnerHeader {
            display: flex;
            width: 80rem;
            align-items: end;
            justify-content: space-between;
            .creditMemoNoHeader {
              display: flex;
              align-items: center;
              .creditMemoorderSummary {
                svg {
                  width: 2rem;
                  height: 2rem;
                }
              }
              p {
                font-size: 1.8rem;
              }
            }
            .creditMemoHeaderAmount {
              display: flex;
              flex-direction: column;
              gap: 0.556rem;
              font-weight: 600;
              padding: 2rem;
              width: 10rem;

              p {
                margin: 0px;
                font-size: 1.111rem;
                display: flex;
                justify-content: space-around;

                span {
                  font-size: 1.111rem;
                }
              }
            }
          }
        }

        .creditMemoInfoDetails {
          display: flex;
          padding: 30px;
          border-bottom-style: solid;
          width: 91%;
          border-bottom-width: 1px;
          border-color: #ebebed;
          margin: auto;

          @mixin heading {
            color: $primary-blue;
            font-size: 0.8rem;
          }
          @mixin value {
            font-weight: bold;
            font-size: 1rem;
            margin-top: 0px;
            margin-bottom: 1.875rem;
          }

          .valuebold {
            font-weight: 100 !important;
          }

          div {
            width: 25%;
            border-right-style: solid;
            border-right-width: 1px;
            border-color: #ebebed;
            padding: 0rem 4rem;
          }

          .creditMemoInvoiceHeading {
            @include heading();
          }

          .creditMemoInvoiceValue {
            @include value();
            color: #3e3e3e;
          }

          .creditMemoInvoiceAddress {
            margin: 2px 0px;
            color: #3e3e3e;
          }

          .smallText {
            font-size: 0.813rem;
            line-height: 140%;
            margin: 0px;
          }

          .creditMemoInvoiceLastCloumn {
            border-style: hidden;
          }
        }

        .cards_main_div {
          .body_center {
            border-bottom: 1px solid black;
            border-top: 0;
            padding: 2rem 2rem 4rem 2rem;
            width: 90%;
            margin: auto;
            .title {
              font-weight: 500;
              font-size: 1.6rem;
              color: #041e42;
            }
            .body_center_cards {
              display: grid;
              grid-template-columns: 1fr 1fr 1fr;
              .cards {
                .cards_date_container {
                  h3 {
                    font-size: 0.8rem;
                    font-weight: 400;
                    line-height: 2rem;
                    color: #767676;
                    margin: 2.7rem 0 0 0;
                  }
                }
              }
            }
          }
        }

        .invoice_bottom {
          display: flex;
          align-items: center;
          gap: 20px;
          justify-content: flex-end;
          width: 98%;

          p {
            color: $primary-blue;
            font-size: 1rem;
            font-weight: 600;
          }
          h3 {
            color: $primary-blue;
            background-color: $active;
            padding: 1rem 3rem;
            border-radius: 8px;
            font-weight: 600;
          }
        }
      }
    }
  }
}
