@import "../../../styles/variables";
@import "../../../styles/styles";

.preview-invoice-container {
    .preview-invoice-inner-container {
        min-height: 27rem;
        .preview-para-one {
            margin-top: 2rem;
            p {
                font-size: 1.1rem;
                color: #3e3e3e;
            }
        }
        .preview-para-two {
            width: 28rem;
            margin-top: -0.955rem;
            p {
                font-size: 1.1rem;
                color: #3e3e3e;
                line-height: 1.555rem;
            }
        }

        .preview-invoice-button {
            margin-top: 3rem;
            button.a-button.medium {
                width: 9.13rem;
                font-size: 1rem;
            }
        }
    }
    .preview-invoice-button-container {
        display: flex;
        justify-content: space-between;
        position: absolute;
        margin-top: 5rem;
        width: 96.5rem;
        margin-left: -22.5rem;

        button.a-button.medium {
            width: 9.13rem;
        }
    }
    .newPayrollInvoiceModal {
        .a-modal__body {
            height: 95vh;
            width: 90rem;
            padding: 0rem;
        }
        .body-wrapper-style {
            // background-color: #cf2424;
            width: 100%;
            height: 100%;
            overflow-y: scroll;
            border-radius: 0.556rem;
            .newInvoiceTopBar {
                background-color: #cbd4f3;
                display: flex;
                justify-content: center;
                min-height: 11rem;
                .newInvoiceInnerHeader {
                    display: flex;
                    width: 80rem;
                    align-items: end;
                    justify-content: space-between;
                    .newInvoiceNoHeader {
                        display: flex;
                        align-items: center;
                        .orderSummary {
                            svg {
                                width: 2rem;
                                height: 2rem;
                            }
                        }
                        p {
                            font-size: 1.8rem;
                        }
                    }
                    .newInvoiceHeaderAmount {
                        padding: 2rem;
                        font-weight: bold;
                        .newInvoiceHeaderAmount-one {
                            margin-bottom: 1rem;
                        }
                    }
                }
            }

            .newInfoDetails {
                display: flex;
                padding: 30px;

                @mixin heading {
                    color: $primary-blue;
                    font-size: 0.8rem;
                }
                @mixin value {
                    font-weight: bold;
                    font-size: 1rem;
                    margin-top: 0px;
                    margin-bottom: 1.875rem;
                }

                div {
                    width: 25%;
                    border-right-style: solid;
                    border-right-width: 1px;
                    border-color: #ebebed;
                    padding: 0rem 4rem;
                }

                .newInvoiceHeading {
                    @include heading();
                }

                .newInvoiceValue {
                    @include value();
                    color: #3e3e3e;
                }

                .newInvoiceAddress {
                    margin: 2px 0px;
                    color: #3e3e3e;
                }

                .smallText {
                    font-size: 0.813rem;
                    line-height: 140%;
                    margin: 0px;
                }

                .newInvoiceLastCloumn {
                    border-style: hidden;
                }
            }

            .newInvoiceEmployeeDetail {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .newInvoiceTable {
                    display: flex;
                    justify-content: center;
                }
                .table {
                    max-width: 87rem;
                }
                .newInvoiceFeeSummaryCalc {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    background-color: $white;
                    padding: 20px;
                    max-width: 87rem;
                    .newInvoiceRowFee {
                        display: flex;
                        border-bottom-style: solid;
                        border-color: $light-gray;
                        border-width: 1px;
                        width: 30%;
                        justify-content: space-between;
                        .newInvoiceTitle {
                            color: $secondary-gray;
                        }
                        .newInvoiceAmount {
                            font-weight: bold;
                        }
                    }

                    .newInvoiceRow2 {
                        display: flex;
                        width: 30%;
                        justify-content: space-between;
                        .newInvoiceTitle {
                            color: $secondary-gray;
                        }
                        .newInvoiceAmount {
                            font-weight: bold;
                        }
                    }

                    .newInvoiceTotalRow {
                        display: flex;
                        align-items: center;
                        gap: 20px;
                        width: 30%;
                        justify-content: space-between;

                        p {
                            color: $primary-blue;
                        }
                        h3 {
                            color: $primary-blue;
                            background-color: $active;
                            padding: 16px;
                            border-radius: 8px;
                        }
                    }
                }
            }

            .newInvoiceCountrySummary-Container {
                display: flex;
                justify-content: center;
                flex-direction: column;
                .table__row__data img,
                .table__row__header img {
                    margin-right: 0.5rem;
                    width: 1.5rem;
                    height: 1.5rem;
                }
                .countryTableHeader {
                    margin-left: 3rem;
                }
                .newInvoiceCountryTable {
                    display: flex;
                    justify-content: center;
                }
                .table {
                    max-width: 87rem;
                }
                .newInvoiceCountrySummaryCalc {
                    display: flex;
                    background-color: $white;
                    align-items: center;
                    justify-content: flex-end;
                    padding: 20px;
                    gap: 20px;

                    p {
                        color: $primary-blue;
                    }
                    h3 {
                        color: $primary-blue;
                        background-color: $active;
                        padding: 16px;
                        border-radius: 8px;
                    }
                }
                .newInvoiceFeeSummaryCalc {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    background-color: $white;
                    padding: 20px;
                    .newInvoiceRowFee {
                        display: flex;
                        border-bottom-style: solid;
                        // border-bottom-width: 1;
                        border-color: $light-gray;
                        border-width: 1px;
                        width: 30%;
                        justify-content: space-between;

                        .title {
                            color: $secondary-gray;
                        }
                        .amount {
                            font-weight: bold;
                        }
                    }
                    .newInvoicerow2 {
                        display: flex;
                        width: 30%;
                        justify-content: space-between;

                        .title {
                            color: $secondary-gray;
                        }
                        .amount {
                            font-weight: bold;
                        }
                    }
                    .newInvoiceTotalRow {
                        display: flex;
                        align-items: center;
                        gap: 20px;

                        p {
                            color: $primary-blue;
                        }
                        h3 {
                            color: $primary-blue;
                            background-color: $active;
                            padding: 16px;
                            border-radius: 8px;
                        }
                    }
                }
            }
        }
    }
}
