@import "../../../styles/variables";

.atlas-payment-invoices {
  .credit-summary-wrapper {
    .a-cards {
      display: block;
    }

    .summary-card {
      padding: 2.813rem 4rem 5.315rem 4rem;
      .ui-dropdown-req {
        span.a-dropdown__title:after {
          content: "*";
          color: red;
        }

        .a-dropdown__search {
          width: 74%;
        }
      }
      .ui-datepicker-req {
        span.react-datepicker__label:after {
          content: "*";
          color: red;
        }
      }
      .UI-line-text-box {
        width: 22% !important;
        .a-dpicker {
          margin-top: 1.25rem;
        }

        .a-dpicker__container {
          width: 100% !important;
        }

        .react-datepicker__input-container {
          .a-input {
            width: -webkit-fill-available !important;
          }
        }
        .input-component{
          margin: 0;
        }
      }

      .quantity-box {
        width: 5.8rem;
        margin-right: 1.2778rem;
        .amount-box{
          width: 66.6%;
          input{
            width: 100%;
          }
        }
      }

      .amount-box {
        width: 55.6%;
      }
      .UI-flex {
        display: flex;
      }

      .UI-align-boxes {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: -webkit-fill-available;

        .a-dropdown {
          border: 0.056rem solid #ced4da;
          align-items: center;
          background: #fff;
          border-radius: 0.222rem;
          cursor: pointer;
          display: flex;
          font-size: 0.778rem;
          height: 2.778rem;
          justify-content: center;
          justify-content: space-between;
          position: relative;
          width: 100%;
          z-index: unset;
          margin-top: 1.25rem;
        }

        .a-dropdown__option {
          z-index: 1000;
        }

        .a-dropdown__title {
          color: #3e3e3e;
        }

        .a-dropdown__label {
          color: #3e3e3e;
          padding-left: 1rem;
        }

        .a-dropdown.is-disabled {
          background: #f5f5f6 !important;
          border: 1px solid #ebebed !important;
          box-shadow: none;
          opacity: 1;
          pointer-events: none;

          span {
            color: #767676;
          }
        }
      }

      .line-sec-width {
        width: 46% !important;
        .input-component{
          padding:0;
        }
      }

      .margin-top {
        margin-top: 2.313rem !important;
      }

      .margin-top-4 {
        margin-top: 4rem !important;
        width: 48% !important;
      }

      .line-between {
        width: -webkit-fill-available;
        border-bottom: 1px solid #b4b3bb !important;
        margin-top: 3.6rem !important;
        margin-bottom: 2.063rem;
      }

      .feeSummaryCalc {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
        width: -webkit-fill-available;

        .spacerclass {
          width: 70%;
        }
        .rowBox {
          width: 30%;
        }
        .rowFee {
          display: flex;
          border-bottom-style: solid;
          border-color: $light-gray;
          border-width: 2px;
          width: -webkit-fill-available;
          padding-right: 2.156rem;
          padding-left: 2.156rem;
          padding-bottom: 0.4rem;
          padding-top: 0.4rem;
          justify-content: space-between;

          .title {
            font-weight: 400;
            font-size: 1rem;
            color: $secondary-gray;
            font-family: "CircularXX", sans-serif;
          }

          .amount {
            font-weight: 600;
            font-size: 1rem;
            color: #041e42;
          }
        }

        .row2 {
          display: flex;
          width: 30%;
          justify-content: space-between;
          padding-right: 3.6rem;

          .title {
            font-weight: 400;
            font-size: 1rem;
            color: $secondary-gray;
          }

          .amount {
            font-weight: 600;
            font-size: 1rem;
            color: #041e42;
          }
        }

        .totalRow {
          display: flex;
          align-items: center;
          padding-left: 2.156rem;
          width: -webkit-fill-available;
          justify-content: space-between;
          margin-top: 1.5rem;

          p {
            color: $primary-blue;
            font-weight: 600;
            font-size: 1rem;
          }

          .total {
            color: $primary-blue;
            background-color: $active;
            padding: 1rem 1.7778rem;
            border-radius: 0.5556rem;
            font-weight: 600;
            font-size: 1.3333rem;
          }
        }
      }
    }

    .no-border {
      border: none !important;
    }

    .add-item {
      padding-left: 5%;
    }

    .UI-change-log {
      padding: 4.25rem 4rem 6.188rem 4rem;
    }

    .title {
      font-size: 1.5rem;
    }

    .top {
      display: flex;
      flex-direction: row;
      width: 100%;
      justify-content: space-between;

      .top-action {
        display: flex;
        flex-direction: row;
      }

      .edit {
        width: 7.563rem !important;
        height: 3.125rem !important;
        font-size: 1.25rem;
        line-height: 1.3333rem;
        svg {
          width: 1.3333rem;
          height: 1.3333rem;
        }
      }

      .delete {
        margin-right: 1.3rem;
        width: 11.563rem !important;
        height: 3.125rem !important;
        font-size: 1.25rem;
        line-height: 1.3333rem;
        svg {
          width: 1.6667rem;
          height: 1.6667rem;
        }
      }

      .save-changes {
        width: 10.725rem !important;
        height: 3.125rem !important;
        font-size: 1.25rem;
        line-height: 1.3333rem;
      }

      .save {
        margin-right: 1.3rem;
        width: 7.563rem !important;
        height: 3.125rem !important;
        font-size: 1.25rem;
        line-height: 1.3333rem;
      }
    }
  }
}
