@import "../../../styles/variables";
@import "../../../styles/styles";

.cancel_modal {
  .a-modal__body {
    height: fit-content;
    flex-direction: column;
  }

  .cancel_note {
    font-size: 1.1rem;
    font-weight: bold;
    margin: 0 auto 0 0;
  }

  .modal_main {
    display: flex;
    margin: 30px 0 0 auto;
    width: fit-content;
    align-items: center;

    button.a-button.secondary-btn {
      height: 2.2rem;
    }

    button.a-button.small {
      width: 7rem !important;
      margin: 0 0 0 10px;
    }
  }
}

.paymentDetailPageContainer {
  .paymentSaveButton {
    .secondary-btn {
      margin-right: 1.3rem;
      width: 8.31rem;
    }

    button.a-button.secondary-btn.medium {
      height: 2.6rem;
      width: 6.31rem;
    }

    button.a-button.primary-blue.medium {
      height: 2.8rem;
      width: 6.31rem;
    }
  }

  .paymentDetailPageHeaderRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.333rem;
  }

  .paymentPageInvoiceInfo {
    background-color: $white;
    border-radius: 0.4444rem;
    margin-bottom: 0.333rem;

    .totalMultiContainer {
      background-color: $secondary-blue;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0rem 5rem;
      margin-bottom: 2rem;

      p {
        color: $white;
        font-size: 1.778rem;
      }
    }

    .paymentPageTopBar {
      background-color: $secondary-blue;
      border-top-left-radius: 0.4444rem;
      border-top-right-radius: 0.4444rem;
      padding: 0rem 5rem;
      padding-top: 5.0556rem;
      padding-bottom: 3.4444rem;

      .paymentHeaderContainer {
        display: flex;
        flex-direction: column;

        .paymentTopBarrow {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin-bottom: 3rem;
          height: 3.5rem;

          .paymentInvoivceNo {
            display: flex;
            align-items: center;
            gap: 0.333rem;

            p {
              color: $white;
              font-size: 1.778rem;
              font-weight: 400;
              margin: 0;
            }
          }

          .payment-header-two {
            display: flex;
            width: 18rem;
            justify-content: space-around;

            .paymentDetailPageamount {
              display: flex;
              flex-direction: column;
              justify-content: space-between;

              p {
                color: #cbd4f3;
                margin: 0px;
                font-size: 1.111rem;

                span {
                  color: $white;
                  font-size: 1.111rem;
                }
              }
            }

            .header-chevron-icon {
              height: 3rem;
              width: 2rem;
              display: flex;
              align-items: end;
              cursor: pointer;

              svg {
                width: 2rem !important;
                height: 2rem;
              }
            }
          }
        }

        p {
          color: $white;
          font-size: 1.22rem;
          font-weight: 400;
          margin: 0;
        }
      }
    }

    .paaymentInstallmetOuterContainer {
      display: flex;
      flex-direction: column;

      .border-line {
        border-top: 0.1rem solid #000000;
      }

      .paymentInstallmentContainer {
        display: flex;
        flex-direction: column;
        margin: 0rem 3rem 1rem;
        padding: 2rem 2rem;

        .paymentPageTitleHeader {
          display: flex;
          justify-content: space-between;
          padding: 0rem 0rem 2rem;
          margin-left: -1rem;

          p {
            color: #17224e;
            font-size: 1.4rem;
          }

          .paymentPageEdit {
            button.a-button svg {
              padding-right: 0rem;
            }

            svg {
              height: 2rem;
              width: 2rem;
            }

            button.a-button.secondary-btn {
              border: 0px;
            }

            button.a-button.medium {
              font-size: 1.2rem;
              font-weight: 500;
            }
          }
        }

        .paymentPageTitleHeaderNoTitle {
          display: flex;
          justify-content: flex-end;
          padding: 0rem 1rem 3rem;

          .paymentPageEdit {
            button.a-button svg {
              padding-right: 0rem;
            }

            svg {
              height: 2rem;
              width: 2rem;
            }

            button.a-button.secondary-btn {
              border: 0px;
            }

            button.a-button.medium {
              font-size: 1.2rem;
              font-weight: 500;
            }
          }
        }

        .paymentInstallmentUpperBlock {
          display: flex;
          margin-bottom: 5rem;

          .paymentInstallmentDatepicker {
            margin-right: 2.222rem;

            .a-dpicker .react-datepicker__input-container input {
              width: 14.778rem;
            }

            .atlas-payment-invoices .react-datepicker-popper {
              z-index: 99 !important;
            }

            span.react-datepicker__label:after {
              content: "*";
              color: red;
            }
          }

          .paymentInstallmentContainerDropdowns {
             margin-right: 2.222rem;

            .a-dropdown {
              z-index: inherit;
            }

            span.a-dropdown__title:after {
              content: "*";
              color: red;
            }

            .referenceNoInput {
              margin-top: -1.2rem;

              .disable-input-color {
                background: #f5f5f6 !important;
              }

              span {
                font-size: 0.889rem;
                margin-left: 0.2rem;
                color: #767676;
              }

              span::after {
                content: "*";
                color: red;
              }

              .Reference::after {
                content: "";
              }

              input {
                padding: 0.8rem;
                background: #fff !important;
                border: 0.056rem solid #ced4da;
                border-radius: 0.222rem;
                cursor: text;
                display: flex;
                font-size: 1rem;
                position: relative;
                width: 17.5rem;
              }
            }
          }
        }

        .paymentInstallmentLowerBlock {
          // display: flex;
          margin-bottom: 3rem;
          position: relative;
          // justify-content: space-between;

          .paymentCreditMemoInnerLowerBlock {
            display: flex;
            // width: 66.5rem;
            // justify-content: space-between;

            .paymentInstallmentContainerDropdowns {
              // margin-left: 1rem;

              .a-dropdown {
                z-index: inherit;
              }

              span.a-dropdown__title:after {
                content: "*";
                color: red;
              }

              .invoiceNumber {
                margin-top: -1.2rem;

                .disable-input-color {
                  background: #f5f5f6 !important;
                }

                span {
                  font-size: 0.889rem;
                  margin-left: 0.2rem;
                  color: #767676;
                }

                input {
                  padding: 0.8rem;
                  background: #fff !important;
                  border: 0.056rem solid #ced4da;
                  border-radius: 0.222rem;
                  cursor: text;
                  display: flex;
                  font-size: 1rem;
                  position: relative;
                  width: 16.5rem;
                }
              }
            }
          }

          .paymentPageTitleHeader {
            margin-left: -1rem;
            padding: 0rem 0rem 2rem;
          }

          .PaymentPageTotalAmount {
            position: absolute;
            right: 2.7222rem;
            top: 0rem;
          }

          .paymentInnerLowerBlock {
            display: flex;
            // width: 45rem;

            .paymentInstallmentContainerDropdowns {
              margin-right: 2.222rem;

              .a-dropdown {
                z-index: inherit;
              }

              span.a-dropdown__title:after {
                content: "*";
                color: red;
              }
            }
          }

          .PaymentPageTotalAmount {
            margin-top: -2.4rem;
            margin-left: 1rem;

            p {
              color: $primary-blue;
              font-weight: 600;
              margin-bottom: 0.4rem;
            }

            input {
              height: 2.2rem;
            }

            .amountPaymentPage {
              color: $primary-blue;
              background-color: $active;
              padding: 1rem 1rem;
              border-radius: 8px;
              font-size: 1.5rem;
              font-weight: 500;

              input {
                background-color: transparent;
              }
            }

            .fullAmountPaymentCheckbox {
              margin-top: 0.7rem;
              margin-left: 0.5rem;

              .a-checkbox-wrapper input[type="checkbox"] {
                height: 0.8rem;
                width: 0.8rem;
              }

              .a-checkbox-wrapper label {
                font-weight: 500;
                top: 0rem;
              }
            }
          }
        }

      }

      .addPaymentInstallmentButton {
        border-top: 1rem solid #eff1f4;

        .addPaymentInstallmentIcon {
          display: flex;
          align-items: center;
          color: #526fd6;
          cursor: pointer;
          padding: 2rem 3rem;
          font-weight: 500;

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            background: #526fd6;
            padding: 3px 1px 2px 4px;
            border-radius: 1.8rem;
            margin: 0 0.5rem 0 0;

            svg {
              margin: 0 !important;
            }
          }
        }
      }
    }
  }

  .filesNotes {
    display: flex;
    gap: 1.25rem;
    margin-bottom: 2.333rem;
    margin-top: 3rem;

    .box {
      width: 40%;
      height: 45.75rem;
      border-radius: 10px;
      background-color: $white;
      padding: 4rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 400;
      }

      p {
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
      }

      .notesContainer {
        height: 24rem;
        margin-top: 1rem;
        margin-right: 3rem;

        .notesSubContainer {
          .noteInfoBtn {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .noteInfo {
              display: flex;
              align-items: center;

              span {
                color: $medium-gray;
                font-size: 0.8rem;
              }
            }

            .noteBtn {
              display: flex;
              gap: 1rem;
            }
          }

          .note {
            p {
              display: flex;
              background-color: $active;
              padding: 1rem;
              border-radius: 4px;
              color: $primary-gray;
              margin: 1rem 0px;
              font-size: 0.8rem;
              word-break: break-all;
              line-height: 2rem;
            }
          }
        }
      }

      .inpContinaer {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        margin-bottom: 1rem;

        textarea {
          margin-bottom: 1rem;
          font-family: "Circular", sans-serif;
          padding: 0.8rem;
          padding-bottom: 3rem;
          resize: none;
        }

        textarea:focus {
          outline-color: $primary-blue;
        }

        span {
          color: $medium-gray;
          font-size: 0.7rem;
        }
      }

      .btnContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        .btnContainercheckbox {
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-bottom: 1rem;
          width: 100%;

          .a-checkbox-wrapper {
            margin: 0 0.5rem 0 0;
          }

          .a-checkbox-wrapper input[type="checkbox"] {
            width: 0.7rem;
            height: 0.7rem;
          }

          label {
            font-size: 0.7rem;
            display: none;
          }

          .check_wrapper {
            display: flex;
            align-items: center;
          }

          .check_label {
            display: flex;
            font-size: 0.64rem;
            cursor: pointer;
          }
        }

        button.a-button.small {
          width: 7.31rem;
        }
      }
    }

    .box2 {
      width: 60%;
      height: 45.75rem;
      border-radius: 10px;
      background-color: $white;
      padding: 4rem;

      h3 {
        font-size: 1.5rem;
        font-weight: 400;
      }

      p {
        font-size: 1.125rem;
        margin-bottom: 2.5rem;
      }

      .boxsubcontainer {
        height: 38rem;
        overflow: auto;
      }

      .fileHandlerContainer {
        display: flex;
        flex-direction: column;
        gap: 1rem;

        .a-fhandler {
          width: 88%;
        }
      }

      .uploadConatiner {
        display: flex;
        margin-top: 5rem;
        width: 98%;

        .a-upload {
          width: 100%;
        }

        .a-upload__label {
          font-size: 1.125rem;
        }
      }
    }
  }
}