registry=https://pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/

always-auth=true
; begin auth token
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:_password=aWpya240ZHViYXlmdzNqeDQyZ3JqZ2l4eDJ5cHB4a2Z4aXBpczcyYm1sdmU1YW43cW5ocQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/registry/:email=ehsan.shafique@techlogix.com
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:username=Technology-Internal
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:_password=aWpya240ZHViYXlmdzNqeDQyZ3JqZ2l4eDJ5cHB4a2Z4aXBpczcyYm1sdmU1YW43cW5ocQ==
//pkgs.dev.azure.com/Technology-Internal/_packaging/AtlasUIKitLib/npm/:email=ehsan.shafique@techlogix.com
; end auth token